let config_dirs = ['~/.vim/config/idea']

for config_dir in config_dirs
  for config_path in split(glob(config_dir . '/*.vim'), '\n')
    exe 'source' config_path
  endfor
endfor

set clipboard=unnamed,autoselect
set surround
set incsearch
set hlsearch
set ignorecase
set smartcase
set scrolloff=5
set multiple-cursors

nnoremap <C-o> <Nop>
nnoremap <C-i> <Nop>

" Font size

nnoremap <M-S-;> :<C-u>action EditorIncreaseFontSize<CR>
nnoremap <M--> :<C-u>action EditorDecreaseFontSize<CR>
nnoremap <M-0> :<C-u>action EditorResetFontSize<CR>

" Tab

nmap <Space>t [tab]

nnoremap [tab]a :<C-u>action CloseAllEditors<CR>
nnoremap [tab]o :<C-u>action CloseAllEditorsButActive<CR>

" Navigate

nmap <Space>n [navigate]

nnoremap [navigate]t :<C-u>action GotoTest<CR>

" Rename

nmap <Space>r [rename]

nnoremap [rename]e :<C-u>action RenameElement<CR>
nnoremap [rename]f :<C-u>action RenameFile<CR>
